<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chat Room-Go Programming Tour</title>

    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .msg-list { height: 400px; overflow: scroll; border: 1px solid #ccc; background-color: #f3f3f3; display: flex;flex-direction: column; }
        .message { margin: 15px 5px 5px 5px; padding: 5px; background-color: #fff; }
        .message { align-self: flex-start; }
        .message .meta { color: #ccc; font-size: 12px; }
        .message .author { color: #999; font-weight: bold; }
        .myself { background-color: #b0e46e !important; align-self: flex-end; }
        .myself .meta { color: #2b2b2b; }

        .system { background-color: #f3f3f3; color: #ccc; align-self: center; }

        .user-list { padding-left: 10px; height: 400px; overflow: scroll; border: 1px solid #ccc; background-color: #f3f3f3; }
        .user-list .user { background-color: #fff; margin: 5px; }

        .user-input { margin: 10px; }
        .usertip { color: red; }
    </style>
</head>
<body>

<div class="container" id="app">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2 class="text-center">Welcome to the chat room</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <div>Chat content</div>
            <div class="msg-list" id="msg-list">
                <div class="message" v-for="msg in msglist" v-bind:class="{ system: msg.type==1, myself: msg.user.nickname==nickname }">
                    <div class="meta" v-if="msg.user.nickname"><span class="author">${ msg.user.nickname }</span> at ${ formatDate(msg.msg_time) } ${ calc(msg) }</div>
                    <div>
                        <span class="content" style="white-space: pre-wrap;">${ msg.content }</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div>Number of current online users:<font color="red">${ onlineUserNum }</font></div>
            <div class="user-list">
                <div class="user" v-for="user in users">
                    User:@${ user.nickname } Join time:${ formatDate(user.enter_at) }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="user-input">
                <div class="usertip text-center">${ usertip }</div>
                <div class="form-inline has-success text-center" style="margin-bottom: 10px;">
                    <div class="input-group">
                        <span class="input-group-addon">Your Nickname</span>
                        <input type="text" v-model="nickname" v-bind:disabled="joined" class="form-control" aria-describedby="inputGroupSuccess1Status">
                    </div>
                    <input type="submit" class="form-control btn-primary text-center" v-on:click="leavechat" v-if="joined" value="Leave chat room">
                    <input type="submit" class="form-control btn-primary text-center" v-on:click="joinchat" v-else="joined" value="Enter the chat room">
                </div>
                <textarea id="chat-content" rows="3" class="form-control" v-model="content"
                          @keydown.enter.prevent.exact="sendChatContent"
                          @keydown.meta.enter="lineFeed"
                          @keydown.ctrl.enter="lineFeed"
                          placeholder="Include chat content here. ctrl/command+enter (Wrap Line)，enter (Send Message)"></textarea>&nbsp;
                <input type="button" value="Enter" class="btn-primary form-control" v-on:click="sendChatContent">
            </div>
        </div>
    </div>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript">
    let gWS;
    let app = new Vue({
        el: '#app',
        data: {
            msglist: [],
            content: "",
            nickname: "",
            usertip: "Haven't entered the chat room yet, please fill in your nickname below",

            // Have you joined the chat room
            joined: false,

            users: [],
        },
        mounted: function () {
            let nickname = localStorage.getItem("nickname");
            if (nickname) {
                this.nickname = nickname;
                this.joinchat();
            }

            setInterval(this.keepAlive, 10000);
        },
        computed: {
            onlineUserNum: function () {
                return this.users.length;
            }
        },
        methods: {
            joinchat: function () {
                let that = this;

                if (this.nickname == "") {
                    this.usertip = "Nickname cannot be empty";
                    return;
                }

                this.usertip = "";

                this.joined = true;

                localStorage.setItem("nickname", this.nickname);

                if ("WebSocket" in window) {
                    let host = location.host;
                    // Open a websocket connection
                    gWS = new WebSocket("ws://" + host + "/ws?nickname=" + this.nickname);

                    gWS.onopen = function () {
                        // Callback on WebSocket connected
                    };

                    gWS.onmessage = function (evt) {
                        let data = JSON.parse(evt.data);
                        if (data.type == 2) {
                            that.usertip = "The user nickname already exists, please change one!"
                            that.joined = false;
                        } else if (data.type == 3) {
                            // user list
                            that.users.splice(0);
                            for (let nickname in data.users) {
                                that.users.push(data.users[nickname]);
                            }
                        } else {
                            that.addMsg2List(data);
                        }
                    };

                    gWS.onerror = function (evt) {
                        console.log("An error occurred:");
                        console.log(evt);
                    };

                    gWS.onclose = function () {
                        console.log("The connection is closed...");
                    };

                } else {
                    alert("Your browser does not support WebSocket!");
                }
            },
            leavechat: function () {
                localStorage.removeItem("nickname");
                gWS.close();

                this.addMsg2List({
                    user: { nickname: "" },
                    type: 1,
                    content: 'You have left the chat room, goodbye! ',
                });

                this.joined = false;
            },
            sendChatContent: function () {
                let msg = JSON.stringify({ "content": this.content });
                gWS.send(msg);

                let data = {
                    user: {
                        nickname: this.nickname,
                    },
                    content: this.content,
                    msg_time: new Date().getTime(),
                };

                this.addMsg2List(data);
                this.content = "";
            },
            // newline
            lineFeed: function (evt) {
                this.content = this.content + '\n';
            },
            formatDate: function (dateStr) {
                let d = new Date(dateStr);
                return d.toLocaleTimeString();
            },
            calc: function (msg) {
                if (typeof msg.client_send_time == "undefined") {
                    return '';
                }

                let send = new Date(msg.client_send_time)
                let receive = new Date(msg.msg_time)
                if (send.getFullYear() == 1) {
                    return '';
                }
                let elaspe = receive.getTime() - send.getTime();
                return "spent " + elaspe + "ms";
            },

            addMsg2List: function (data) {
                if (data.content == "") {
                    return;
                }
                that = this;
                if (data.ats_user != null) {
                    data.ats_user.forEach(function (nickname) {
                        if (nickname == '@' + that.nickname) {
                            that.usertip = 'Someone @ you';
                        }
                    })
                }
                this.msglist.push(data);

                // Need to wait for rendering?
                setTimeout(function () {
                    let msgList = document.querySelector('#msg-list');
                    msgList.scrollTop = msgList.scrollHeight;
                }, 1);
            },

            // keep alive
            keepAlive: function () {
                // Indicates abnormal exit
                if (gWS.readyState == WebSocket.CLOSED && this.joined) {
                    console.log("reconnect");
                    this.joinchat();
                }
            },
        },
        delimiters: ['${', '}']
    })

</script>

</html>
